[mysqld]
skip_host_cache
skip_name_resolve

user = mysql
datadir = /var/lib/mysql
port = 3306
default_storage_engine = InnoDB
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
character_set_client_handshake = 0
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
max_connections = 151
query_cache_size = 0
query_cache_type = 0
slow_query_log_file = mysql-slow

binlog_format = ROW
log_bin = mysql-bin
innodb_buffer_pool_size = 100M
innodb_flush_log_at_trx_commit = 0
innodb_log_files_in_group = 2
innodb_log_file_size = 20M
innodb_file_per_table = 1
innodb_autoinc_lock_mode = 2

slow_query_log = 1
log_queries_not_using_indexes = 1

wsrep_slave_threads = 4
wsrep_provider = /usr/lib64/galera3/libgalera_smm.so
wsrep_cluster_address= #see docker-entrypoint.sh
wsrep_cluster_name= #see docker-entrypoint.sh
wsrep_node_name= #see docker-entrypoint.sh

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth= #see docker-entrypoint.sh

[client]
default_character_set = utf8mb4

[xtrabackup]
target_dir = /var/backups/mysql/
